/*全局设置开始*/

* {padding:0; margin:0}

body {text-align: left; font-family:Arial; margin:0; padding:0; background: #FFF; font-size:12px; color:#333333;}

div,form,img,ul,li{margin: 0; padding: 0; border: 0;}

div,table{overflow:hidden;}

h1,h2,h3,h4,h5,h6 { margin:0; padding:0;}
ul,ol,li{list-style-type:none}

a:link,a:visited,a:active {color: #02418a; text-decoration: none; }

a:hover {color: #ff0000; text-decoration: underline}




#top{
 width:980px;
 margin:3px auto 0px;
 background-color:#F3F9FE;
 border-right:1px solid #C9DDF0;
 border-top:1px solid #C9DDF0;
 border-left:1px solid #C9DDF0;
 border-bottom:1px solid #C9DDF0;
}

#top_logo {
 width:260px;
 float:left;
}

#top_mainmenu { 
 background:url(/images/top_bg0.gif) repeat-x;
 border-top:1px solid #a7cde5;
 border-bottom:1px solid #a7cde5;
 border-left:1px solid #a7cde5;
 border-right:1px solid #a7cde5;
 font-size:14px; 
 float:left;
 height:30px;
 line-height:30px;
 margin-left:10px;
 margin-top:42px;

}


#u_mainmenu li {
 padding-right:9px;
 padding-left:10px;
 font-weight:bold; 
 float:left;

}

#bottom{
 text-align:center;
 line-height:160%;
 width:980px;
 margin:5px auto;
 background-color:#F3F9FE;
 border-right:1px solid #C9DDF0;
 border-top:1px solid #C9DDF0;
 border-left:1px solid #C9DDF0;
 border-bottom:1px solid #C9DDF0;
 padding:10px 0px;
}



table {
 font-weight:normal;
 font-size:12px;
 line-height:180%;
 font-family:arial;
}
input {
 height:20px;
 border: 1px solid #C9DDF0;
 BACKGROUND-color:#FFFFFF;

}


button{
 BORDER: #c4dae3 1px solid;
 FONT-SIZE: 12px; 
 CURSOR: hand; 
 HEIGHT: 24px;
 BACKGROUND-color:#FFFFFF;
 font-weight:bold;
 margin-top:5px;
 margin-bottom:5px; 
}




select {
 height:20px;
 border: 1px solid #C9DDF0;
}

textarea {
 border: 1px solid #C9DDF0;
}
/*全局设置结束*/

.button_2{
 BACKGROUND-color:#F3F9FE;
}

.button_3{
 width:140px;
}

.button_4{
 width:140px;
 BACKGROUND-color:#F3F9FE;
}

.co{
 width:980px;
 background-color:#F3F9FE;
 margin-top:5px;
 border:1px solid #C9DDF0;
 margin:3px auto 0px;
}

.co_1{
 width:980px;
 margin:3px auto 0px;
}

.co_left{
 width:202px;
 float:left;
}
.co_right{
 width:778px;
 float:left;
}

.co_d_1{
 width:200px;
 background-color:#F3F9FE;
 margin-top:5px;
 border:1px solid #C9DDF0;
}

.co_d_2 {
 width:771px; /*771+left5px+boder1px*2=778*/
 background-color:#F3F9FE;
 margin:5px 0px 0px 5px;
 border:1px solid #C9DDF0;
 float:right;
}

.l_con_left{
 padding:5px;
 margin-left:0px;
 line-height:160%;
 text-align:left;
}


.l{
 padding:5px;
 margin-left:0px;
 line-height:160%;
 text-align:left;
 list-style-type:none; 
}


.d_1 {
 width:980px;
 background-color:#F3F9FE;
 margin:5px auto 0px;
 border:1px solid #C9DDF0;
}

.d_1_1 {
 padding-left:5px;
 padding-top:5px;
 font-weight:bold;
 font-size:14px;
 height:24px;
}

.d_1_2 {
 width:100%;
 background-color:#ffffff;
 float:left;
 padding:5px 10px;
}

.d_1_3 {
 padding-left:5px;
 padding-top:5px;
 font-weight:bold;
 font-size:14px;
 height:24px;
 text-align:left;
}


.d_page_1 {
 width:100%;
 clear:both;
 padding:30px 10px 0px 10px;
}

.d_page_2 {
 width:100%;
 clear:both;
 padding:10px 10px 0px 10px;
}




ul{
 list-style-type:none;
 margin:0px;
}

li{
 line-height:120%;
 text-align:left;
 list-style-type:none;
 padding-top:5px;
}

.u_1{
 width:100%;
 clear:both;
}



.l_1{/*首页*/
 width:100%;
 padding:20px 0px 0px 10px;
 font-weight:bold;
 font-size:14px;
}

.l_2{/*首页*/
 padding:10px 0px 0px 10px;
 width:150px;
 float:left;
 padding-top:5px;
 margin:0px;
 text-align:left;
 font-size:14px;
}


.l_3{/*首页*/
 padding:10px 0px 0px 10px;
 width:32%;
 float:left;
 padding-top:5px;
 margin:0px;
 text-align:left;
}



.l_4{/*内容页*/
 background-color:#F3F9FE;
 padding-left:5px;
 padding-top:10px;

 font-size:14px;
 height:24px;
 width:100%
}

.l_5{/*内容页*/
 padding:10px 10px;
 font-weight:bold;
 font-size:16px;
 height:24px;
 text-align:center;
 width:100%
}

.l_6{/*内容页*/
 padding:10px 10px;
 width:98%;
 line-height:160%;
}

.l_7{/*广告*/
 padding:10px 10px;
 width:100%;
 clear:both;
}

.l_7{/*列表页*/
 padding:10px 10px;
 width:100%;
 clear:both;
}

.l_8{/*后台菜单　*/
 padding-top:5px;
 padding-left:20px;
 text-align:left;
 font-weight:bold;
}

.l_userlogin_1{
 width:60px;
 float:left;
 padding-left:0px;
 padding-top:12px;
 text-align:right;
 clear:both;
}

.l_userlogin_2{
 width:140px;
 float:left;
 padding-top:5px;
}



.d_menu { 
 background:url(images/top_bg0.gif) repeat-x;
 border-top:1px solid #a7cde5;
 border-bottom:1px solid #a7cde5;
 border-left:1px solid #a7cde5;
 border-right:1px solid #a7cde5;
 font-size:14px; 
 float:left;
 height:30px;
 line-height:30px;
 margin-left:70px;
 margin-top:38px;
 width:650px; 
}

.l_menu {
 padding-right:9px;
 padding-left:10px;
 font-weight:bold;
 float:left;
 padding-bottom:0px;
 padding-top:8px;
}



.tb_1{
 background-color:#ffffff;
 border:1px solid #C9DDF0;
 margin:5px 0px 5px 5px;
 width:768px;
 float:left;
}

 .tb_2{
 width:980px;
 background-color:#ffffff;
 border:1px solid #C9DDF0;
 margin:15px auto;
 clear:both;
 float:center;
}

 .tb_3{
 background-color:#ffffff;
 border:1px solid #C9DDF0;
 margin:15px auto;
 padding:5px;
 clear:both;
}


.tr_1{
 padding-left:5px;
 padding-top:5px;
 font-weight:bold;
 font-size:14px;
 height:24px;
 text-align:center;
 background-color:#F3F9FE;
}

.tr_2{
 text-align:center;
}



.td_1{
 text-align:left;
}
.td_2{
 text-align:center;
}
.td_3{
 text-align:right;
}