#pop-login {
	DISPLAY: none; FONT-SIZE: 12px; Z-INDEX: 99; RIGHT: 60px; BACKGROUND: url(http://blogteam.bokee.com/pub/images/pop-login-bg.gif) no-repeat left top; WIDTH: 300px; POSITION: absolute; TOP: 55px; HEIGHT: 300px
}
#pop-login FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#pop-login TABLE TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #000; PADDING-TOP: 4px; BACKGROUND-COLOR: transparent
}
#pop-login TABLE {
	MARGIN-TOP: 7px; MARGIN-LEFT: 0px
}
UNKNOWN {
	MARGIN-TOP: 10px; MARGIN-LEFT: 20px
}
#pop-login A {
	COLOR: #0066ff
}
#pop-cancel {
	CURSOR: pointer
}
#pop-sbumit-btn {
	BACKGROUND: url(http://blogteam.bokee.com/pub/images/login.gif) no-repeat left top; WIDTH: 59px; COLOR: #fff; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 17px; BORDER-BOTTOM-STYLE: none
}
.style-btn {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #fff
}
.style-btnaa {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #fff
}
#pop-user-name {
	BORDER-RIGHT: #666 1px inset; BORDER-TOP: #666 1px inset; BORDER-LEFT: #666 1px inset; WIDTH: 8em; BORDER-BOTTOM: #666 1px inset; HEIGHT: 1em
}
#pop-password {
	BORDER-RIGHT: #666 1px inset; BORDER-TOP: #666 1px inset; BORDER-LEFT: #666 1px inset; WIDTH: 8em; BORDER-BOTTOM: #666 1px inset; HEIGHT: 1em
}
.pop-col1 {
	VERTICAL-ALIGN: bottom; WIDTH: 5em; TEXT-ALIGN: right
}
#pop-cancel IMG {
	VERTICAL-ALIGN: bottom
}
