.text {
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	color: #000000;
}
a:link {
	color: #006699;
	text-decoration: none;
}
a:visited {
	color: #006699;
	text-decoration: none;
}
a:hover {
	color: #0099CC;
	text-decoration: none;
}
a:active {
	color: #0099CC;
	text-decoration: none;
}
.text14 {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #CC6600;
}
.text2 {
	font-size: 12px;
	font-style: normal;
	line-height: 20px;
	color: #000000;
}
.bk {
	border: 1px dashed #000000;
	font-size: 12px;
	font-style: normal;
}
.text4 {
	font-size: 12px;
	color: #000066;
}
.selectok {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	color: #8E04D9;
}
.i {
	font-size: 12px;
	font-weight: bold;
	color: #8E04D9;
}

.count {
	font-size: 12px;
	color: #A0A0A0;
}

.an {
	border: 1px solid #000000;
	background-color: #E6E6E6;
	cursor: hand;
	font-size: 12px;
	width: 120px;
}

.an2 {
	border: 1px solid #000000;
	background-color: #ffffff;
	cursor: hand;
	font-size: 12px;
	width: 120px;
}



