 {
	WORD-BREAK: break-all
}
#leftDiv {
	DISPLAY: none
}
#leftDiv {
	OVERFLOW: hidden
}
#centerDiv {
	OVERFLOW: hidden
}
#rightDiv {
	OVERFLOW: hidden
}
#rightDiv {
	FLOAT: right; MARGIN: 5px; WIDTH: 170px
}
#centerDiv {
	FLOAT: left; MARGIN: 5px; WIDTH: 555px
}
.entry-title P {
	HEIGHT: 1.2em
}
UNKNOWN {
	DISPLAY: block; FLOAT: left; WIDTH: 50px
}
UNKNOWN {
	DISPLAY: block; FLOAT: left
}
