 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: inherit
}
P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
A IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
DIV {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
BODY {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; BORDER-RIGHT-WIDTH: 0px
}
LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; LIST-STYLE-IMAGE: none; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: square! important; BORDER-RIGHT-WIDTH: 0px
}
B {
	FONT-WEIGHT: normal
}
EM {
	FONT-WEIGHT: normal
}
TABLE {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-COLLAPSE: collapse; BORDER-RIGHT-WIDTH: 0px
}
TABLE TD {
	TEXT-ALIGN: left
}
FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
FIELDSET {
	MARGIN: 0px; WIDTH: 95%; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
LEGEND {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 25px; PADDING-TOP: 3px
}
.adc-options-btn-collpase {
	TEXT-INDENT: 24px
}
#pageFooter P {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; WIDTH: auto; PADDING-TOP: 0px
}
.gonggao-Span {
	PADDING-RIGHT: 40px; MARGIN-TOP: -20px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.wdzliao A {
	BACKGROUND-COLOR: #e1e1e1! important
}
.table1 {
	PADDING-LEFT: 10px; MARGIN-LEFT: 2px; LINE-HEIGHT: 30px; TEXT-ALIGN: left
}
.td1 {
	HEIGHT: 30px
}
.photoform {
	FLOAT: left
}
H3 {
	CURSOR: pointer! important
}
.showAlbum-Table {
	WIDTH: 95%! important; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.myvisphoto {
	PADDING-TOP: 10px; TEXT-ALIGN: center
}
.entry-body  {
	LINE-HEIGHT: 1.5em
}
#blog-title H1 {
	FONT-WEIGHT: bolder; FONT-SIZE: 26px! important
}
.title-font {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.add-f-link {
	MARGIN-TOP: -10px
}
.jhyou A {
	PADDING-RIGHT: 5px; MARGIN-TOP: -20px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; HEIGHT: 20px
}
.huifud {
	TEXT-INDENT: 24px; LINE-HEIGHT: 25px
}
.jhyou A:hover {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; HEIGHT: 20px
}
.hr-jaho {
	WIDTH: 95%; HEIGHT: 1px
}
.with-checkbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 90%; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.with-checkbox01 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 10px; WIDTH: 90%; PADDING-TOP: 5px; TEXT-ALIGN: left
}
#howto-select {
	PADDING-LEFT: 10px
}
#msg-list {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN-LEFT: 0px; PADDING-TOP: 10px; TEXT-ALIGN: left
}
#msg-list DL {
	PADDING-TOP: 10px! important; TEXT-ALIGN: left
}
.fenlei-Span {
	MARGIN-TOP: -5px; DISPLAY: block; FLOAT: right; LINE-HEIGHT: 25px; MARGIN-RIGHT: 5px; WHITE-SPACE: nowrap
}
.fenlei-Span A {
	
}
.centerim INPUT {
	MARGIN-BOTTOM: 10px; WIDTH: 80px; MARGIN-RIGHT: 480px! important; HEIGHT: 22px
}
.ceaaa INPUT {
	MARGIN-BOTTOM: 10px; WIDTH: 80px; HEIGHT: 22px
}
.ziliao-P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 5px; LINE-HEIGHT: 120%; PADDING-TOP: 5px
}
.nicheng {
	LINE-HEIGHT: 30px
}
#placard_content {
	LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.rig-img {
	TEXT-ALIGN: right! important
}
.rig-img IMG {
	MARGIN-RIGHT: 15px
}
#marqueeBox {
	LINE-HEIGHT: 35px; WHITE-SPACE: nowrap; HEIGHT: 35px; TEXT-ALIGN: center
}
.jiarud {
	PADDING-RIGHT: 10px! important; TEXT-ALIGN: right
}
#submit-btns {
	PADDING-BOTTOM: 10px; WIDTH: 100%; TEXT-ALIGN: center
}
.nerr TABLE {
	OVERFLOW: hidden; WIDTH: 94%! important
}
.nerr {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
.haoyzl LI {
	DISPLAY: block; LINE-HEIGHT: 20px; TEXT-ALIGN: center
}
.diary-all {
	PADDING-LEFT: 10px! important; MARGIN: 0px auto; TEXT-ALIGN: left! important
}
.diary-all LI {
	DISPLAY: block
}
.zhiddin {
	PADDING-LEFT: 20px; FONT-SIZE: 13px; MARGIN: 5px 0px; LINE-HEIGHT: 25px
}
#trackback {
	TEXT-INDENT: 20px
}
.stat-ok {
	MARGIN: 5px 0px; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
.zhiddin A {
	MARGIN: 0px 5px
}
.pad-Left {
	WIDTH: 80%; MARGIN-RIGHT: -30px
}
.select {
	DISPLAY: block
}
#tablePager {
	OVERFLOW: hidden! important; WIDTH: 92%; TEXT-ALIGN: left
}
#bxMailText P {
	WIDTH: 98%; LINE-HEIGHT: 25px
}
.lt {
	LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: left
}
.lt H2 {
	LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-ALIGN: left
}
.entry-titlerl {
	MARGIN-TOP: -30px
}
.list-entry-title {
	OVERFLOW: hidden; WIDTH: 55%! important; LINE-HEIGHT: 25px; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.list-pub-date {
	OVERFLOW: hidden; WIDTH: 30%! important; LINE-HEIGHT: 25px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.list-delete-icon {
	OVERFLOW: hidden; WIDTH: 10%! important; LINE-HEIGHT: 25px; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
.gengxin-Blog {
	PADDING-LEFT: 15px; TEXT-ALIGN: left
}
.td1 {
	WIDTH: 260px! important
}
.td2 {
	WIDTH: 260px! important
}
.td3 {
	WIDTH: 100px! important
}
.td7 {
	WIDTH: 80px! important
}
.col3 {
	WIDTH: 100px! important
}
.col3 A {
	WIDTH: 90px; WHITE-SPACE: nowrap! important
}
.text-Link {
	PADDING-RIGHT: 100px! important
}
.spanButton {
	CURSOR: pointer; TEXT-DECORATION: underline
}
.delete-cmt-link IMG {
	MARGIN-TOP: -20px; FLOAT: right; MARGIN-RIGHT: 20px
}
.pingl-Dl {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.pingl-Dl DD {
	LINE-HEIGHT: 20px
}
.pingl-Dl TD {
	LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
.pingl-Dl A {
	LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.text-Link A {
	TEXT-DECORATION: underline
}
.pingl-Dl TBODY TD A {
	LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.pingl-Dl01 {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 10px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; LINE-HEIGHT: 20px; PADDING-TOP: 0px! important; TEXT-ALIGN: left
}
.pingl-Dl LI {
	DISPLAY: block; MARGIN: 3px 0px; LINE-HEIGHT: 18px
}
.jiarud {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
.ma-martop {
	PADDING-LEFT: 30px; MARGIN-BOTTOM: -5px; TEXT-ALIGN: left
}
.fl-leftDl {
	FLOAT: left; WIDTH: 16%; TEXT-INDENT: 2%
}
.width-Div {
	WIDTH: 100%! important
}
.mar-bottom {
	MARGIN-BOTTOM: -10px
}
.neirong-Div {
	FLOAT: none
}
.fl-leftDl DT {
	FONT-WEIGHT: bold; FONT-SIZE: 14px! important; LINE-HEIGHT: 30px
}
#container {
	FLOAT: none
}
.youqingTd B {
	FONT-WEIGHT: bold
}
.youqingTd {
	LINE-HEIGHT: 25px! important; TEXT-ALIGN: left
}
.youqingTd A {
	MARGIN-RIGHT: 10px! important
}
.youqingTd01 {
	MARGIN-TOP: -25px; FLOAT: right; MARGIN-RIGHT: 10px
}
#categories LI {
	DISPLAY: block
}
.riz-Lm LI {
	DISPLAY: block; TEXT-INDENT: 20px; LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
.xiangg-Tab {
	WIDTH: 100%; LINE-HEIGHT: 18px; TEXT-ALIGN: left
}
.xiangg-Tab TD {
	WIDTH: 16%; CURSOR: auto; TEXT-INDENT: 20px
}
.xiangg-Tab TD A {
	TEXT-DECORATION: underline
}
.fonw {
	FONT-WEIGHT: bold
}
.youqing-Ul {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 8px; MARGIN: 0px 8px; PADDING-TOP: 8px; TEXT-ALIGN: left
}
.youqing-Ul LI {
	DISPLAY: block
}
.youqing-Ul A {
	MARGIN: 0px 5px 0px 0px
}
#Exobud {
	LEFT: 0px; WIDTH: 0px; POSITION: relative; TOP: 0px; HEIGHT: 0px
}
.col2 UL LI {
	PADDING-RIGHT: 0px! important; DISPLAY: block; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; LINE-HEIGHT: 20px! important; PADDING-TOP: 0px! important; HEIGHT: 20px! important; TEXT-ALIGN: left
}
.col2 UL LI A {
	PADDING-RIGHT: 0px! important; DISPLAY: block; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; LINE-HEIGHT: 20px! important; PADDING-TOP: 0px! important; HEIGHT: 20px! important; TEXT-ALIGN: left
}
.col1 IMG {
	MARGIN: 5px 0px
}
.tool-box {
	PADDING-LEFT: 10px; MARGIN: 0px 10px; TEXT-INDENT: 20px; TEXT-ALIGN: left
}
.edit-col {
	PADDING-LEFT: 10px; MARGIN: 0px 10px; TEXT-INDENT: 20px; TEXT-ALIGN: left
}
.newly-Img {
	DISPLAY: none
}
.xierizhi {
	MARGIN: 10px
}
#bxEditor {
	MARGIN: 10px
}
.list-delete-icon {
	PADDING-RIGHT: 5px; TEXT-ALIGN: right! important
}
.col-bodyimg {
	PADDING-LEFT: 10px; WIDTH: 95%; TEXT-ALIGN: left
}
.cmt-avatar {
	PADDING-LEFT: 10px; WIDTH: 95%; TEXT-ALIGN: left
}
.cmt-number {
	PADDING-LEFT: 10px; WIDTH: 95%; TEXT-ALIGN: left
}
.clear {
	PADDING-LEFT: 10px; WIDTH: 95%; TEXT-ALIGN: left
}
.cmt-number {
	FONT-SIZE: 28px; FILTER: Alpha(Opacity=50, Style=0); COLOR: #333; FONT-FAMILY: "ºÚÌå"; TEXT-ALIGN: right
}
.Alltop-link {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://blogteam.bokee.com/pub/images/bj_top_link01.jpg); WIDTH: 100%; COLOR: #000; LINE-HEIGHT: 30px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: "ËÎÌå"; WHITE-SPACE: nowrap; HEIGHT: 30px
}
.Alltop-link01 IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.Alltop-link01 {
	MARGIN-TOP: -2px
}
.Alltop-link01 {
	FLOAT: left
}
.Alltop-link02 {
	FLOAT: left
}
.Alltop-link02 LI {
	LINE-HEIGHT: 28px
}
.Alltop-link02 IMG {
	MARGIN-TOP: 3px
}
.Alltop-link A {
	MARGIN: 0px 3px; COLOR: #000
}
.Alltop-link A:visited {
	COLOR: #000! important
}
.edit-col {
	MARGIN: 5px
}
.col-style01 A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #000; PADDING-TOP: 2px; TEXT-DECORATION: none
}
.col-style02 A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #ff0000; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffcc; TEXT-DECORATION: none
}
.col-style02 A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #ff0000
}
.col-style03 A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #0000ff; PADDING-TOP: 2px; BACKGROUND-COLOR: #cff7fe; TEXT-DECORATION: none
}
.col-style03 A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #0000ff
}
.col-style04 A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #009b04; PADDING-TOP: 2px; BACKGROUND-COLOR: #d2fac7; TEXT-DECORATION: none
}
.col-style04 A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #009b04
}
.col-style05 A {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #009b04; PADDING-TOP: 2px; BACKGROUND-COLOR: #fffbc3; TEXT-DECORATION: none
}
.col-style05 A:hover {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; COLOR: #fff; PADDING-TOP: 2px; BACKGROUND-COLOR: #ff7300
}
.Alltop-link03 {
	FLOAT: right; MARGIN-RIGHT: 10px; PADDING-TOP: 4px
}
.Alltop-link03 A {
	MARGIN: 0px 5px; TEXT-DECORATION: none
}
.Alltop-link03 A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; TEXT-DECORATION: underline
}
.clear-b {
	CLEAR: both; DISPLAY: block; FONT: 0px/0px sans-serif
}
.newly-right TD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.newly-right {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.newly-right IFRAME {
	MARGIN: 0px auto; WIDTH: 95%; TEXT-ALIGN: center
}
.newly-right H4 {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.myPhotoCenter {
	TEXT-ALIGN: center! important
}
.newly-right DL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.newly-right DT {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.newly-right DD {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.newly-right P {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 24px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.ziliao-P {
	PADDING-LEFT: 10px! important
}
.col-body {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; PADDING-TOP: 0px! important
}
.guanggao-Div DIV {
	MARGIN: 10px
}
.guanggao-Div DIV {
	PADDING-RIGHT: 10px! important; PADDING-LEFT: 10px! important; BACKGROUND-IMAGE: none! important; PADDING-BOTTOM: 10px! important; PADDING-TOP: 10px! important; TEXT-ALIGN: left! important
}
#flash-img-browser {
	PADDING-RIGHT: 5px! important; PADDING-LEFT: 5px! important; PADDING-BOTTOM: 5px! important; PADDING-TOP: 5px! important
}
#alert-msg {
	MARGIN: 2px 0px; LINE-HEIGHT: 25px; TEXT-ALIGN: center
}
#tool-nav P {
	TEXT-ALIGN: right
}
.jingblock {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.tongji-Div {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; LINE-HEIGHT: 25px; PADDING-TOP: 20px; TEXT-ALIGN: left
}
#diarystat {
	PADDING-LEFT: 5px; TEXT-ALIGN: left
}
#numstat {
	PADDING-LEFT: 5px; TEXT-ALIGN: left
}
#photoImg {
	WIDTH: 120px! important
}
#duanxiaoxi {
	WIDTH: 50px; HEIGHT: 50px
}
.newarticle {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.newarticle UL {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
.newarticle UL LI {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 25px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none! important; HEIGHT: 25px; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px
}
.friendListImg {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; MARGIN: 5px 2px 2px; WIDTH: 92px! important; PADDING-TOP: 1px; HEIGHT: 92px! important
}
.joinedGroup {
	WIDTH: 92px! important; HEIGHT: 92px! important
}
.avatar {
	WIDTH: 35px! important; HEIGHT: 35px! important
}
.friendtuo {
	FLOAT: left; MARGIN: 3px 1px; WIDTH: 95px; TEXT-ALIGN: center
}
.friendtuo LI {
	DISPLAY: block; LINE-HEIGHT: 25px
}
.pingl-Dlff {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 95%; LINE-HEIGHT: 20px; TEXT-ALIGN: right
}
.fangke-Span {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FLOAT: left; MARGIN: 0px auto; WIDTH: 95px; LINE-HEIGHT: 25px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.fangke-Span01 {
	HEIGHT: 120px
}
.fangke-Span02 {
	LIST-STYLE-TYPE: none! important
}
.fangke-Span02 LI {
	DISPLAY: block; PADDING-LEFT: 8px; FONT-SIZE: 12px; MARGIN: 0px; LINE-HEIGHT: 20px; LIST-STYLE-TYPE: none! important
}
.fangke-Span02 A {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
.fill_01 {
	CLEAR: both; DISPLAY: block
}
#photo-img {
	TEXT-ALIGN: center
}
.next-no {
	MARGIN-BOTTOM: 10px
}
#photo {
	CLEAR: both; OVERFLOW: hidden
}
.photo-Left {
	FLOAT: left; MARGIN: 5px; WIDTH: 720px! important
}
.photo-Right {
	FLOAT: right; MARGIN: 5px; WIDTH: 230px
}
.photo-Left800a {
	FLOAT: left; MARGIN: 5px 5px 5px 10px; WIDTH: 500px! important
}
.photo-Right800a {
	FLOAT: right; MARGIN: 5px 10px 5px 5px; WIDTH: 195px
}
.photo-Tab {
	WIDTH: 98%; LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
.text-msd {
	WIDTH: 50%; HEIGHT: 100px
}
.friendtu IMG {
	FLOAT: left
}
.td4 {
	WIDTH: 45px
}
.td5 {
	WIDTH: 35px
}
.shangchuantu {
	Z-INDEX: 10; LEFT: 350px; VISIBILITY: hidden; POSITION: absolute; TOP: 200px
}
.img-Tab {
	
}
.img-Tab01 {
	
}
.edit-col-bottom {
	MARGIN-BOTTOM: 10px; MARGIN-LEFT: 5px! important; WIDTH: 96%; TEXT-ALIGN: center! important
}
.edit-col-bottom INPUT {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 80px; MARGIN-RIGHT: 76%! important; PADDING-TOP: 2px; HEIGHT: 20px
}
.pic-Left {
	PADDING-LEFT: 10%; TEXT-ALIGN: left
}
.yinc {
	CLEAR: both; BORDER-TOP: transparent 0px solid; MARGIN-TOP: 0px; VISIBILITY: hidden
}
#control-btns {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 95%; PADDING-TOP: 5px; TEXT-ALIGN: center! important
}
.foln {
	TEXT-ALIGN: center
}
.poto-right {
	FLOAT: left; WIDTH: auto
}
.poto-right DD {
	MARGIN: 2px 2px 2px 15px
}
.check-img {
	MARGIN: 5px 10px; POSITION: relative
}
.check-img INPUT {
	LEFT: 10px; FLOAT: left; POSITION: absolute; TOP: 5px
}
.checkTab {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
#sellist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.leftTupian {
	TEXT-ALIGN: left
}
.leftTupian IMG {
	MARGIN: 5px 5px 5px 10px
}
.xinj-Xc {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; MARGIN: 5px; LINE-HEIGHT: 20px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ccc
}
.xinj-Xc TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.xj-select {
	WIDTH: 80%
}
.nero-over {
	VERTICAL-ALIGN: top; OVERFLOW: scroll; WIDTH: 98%; HEIGHT: 160px; TEXT-ALIGN: left
}
.mar-Tab {
	MARGIN-TOP: 0px! important; LINE-HEIGHT: 28px; HEIGHT: 25px
}
#tool-nav P {
	RIGHT: 0px; WIDTH: 20%; COLOR: #ccc; POSITION: absolute; TOP: 3px
}
.tool-nav P {
	RIGHT: 0px; WIDTH: 20%; COLOR: #ccc; POSITION: absolute; TOP: 3px
}
.tool-nav P {
	TEXT-ALIGN: right
}
.style-btn {
	MARGIN-TOP: 10px; MARGIN-RIGHT: 10px
}
.style-bssstn {
	MARGIN-TOP: 10px; FLOAT: right; MARGIN-RIGHT: 10px
}
#entry-cmts {
	TEXT-ALIGN: left
}
#cmt-area TABLE {
	MARGIN: 0px auto; WIDTH: 98%
}
.cmea {
	WIDTH: 90%; LINE-HEIGHT: 20px; PADDING-TOP: 10px; TEXT-ALIGN: left! important
}
#cmt-area FORM {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 80%; PADDING-TOP: 0px; BORDER-RIGHT-WIDTH: 0px
}
#remarkContent {
	WIDTH: 50%; HEIGHT: 100px
}
#remarkNickName {
	WIDTH: 50%; HEIGHT: 18px
}
#remarkEmail {
	WIDTH: 50%; HEIGHT: 18px
}
.right-Td {
	WIDTH: 20%; TEXT-ALIGN: right! important
}
.required {
	COLOR: #ff0000
}
.xxxin {
	WIDTH: 100%; TEXT-INDENT: 20px; LINE-HEIGHT: 20px; TEXT-ALIGN: left
}
.tupianxinxi {
	LINE-HEIGHT: 25px; TEXT-ALIGN: left
}
.tupianxinxi TD {
	WIDTH: 49%
}
.newly-title {
	CURSOR: auto! important
}
.zxfk-Div {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FLOAT: left; MARGIN: 0px auto; WIDTH: 98px; PADDING-TOP: 2px; POSITION: relative; TEXT-ALIGN: left
}
.zximg-Div {
	DISPLAY: block; FLOAT: left; WIDTH: 50px
}
.touxiang-Img {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: #ccc 1px solid; WIDTH: 48px; PADDING-TOP: 1px; BORDER-BOTTOM: #ccc 1px solid; HEIGHT: 48px
}
.zx-right {
	FLOAT: right; MARGIN: 0px; WIDTH: 48px; TEXT-ALIGN: left
}
.zx-right LI {
	DISPLAY: block; LINE-HEIGHT: 18px; HEIGHT: 18px
}
.zx-right LI A {
	COLOR: #555; TEXT-DECORATION: none
}
.zx-right LI IMG {
	MARGIN: 0px 2px
}
.zxfk-Name {
	MARGIN: 0px; WIDTH: 100%
}
.zxfk-Name LI {
	DISPLAY: block; FONT-SIZE: 13px; TEXT-ALIGN: left
}
.zxfk-Name LI A {
	COLOR: #0448a7; TEXT-DECORATION: none
}
#zxfk {
	MARGIN: 0px 5px; CURSOR: pointer
}
.cur_p {
	CURSOR: pointer! important
}
.cur_not {
	CURSOR: not-allowed! important
}
#zjfw {
	CURSOR: pointer
}
.cl-sc {
	CLEAR: both; DISPLAY: none; WIDTH: auto; HEIGHT: 1px
}
.float-P IMG {
	MARGIN-LEFT: 1px; WIDTH: auto; HEIGHT: auto
}
.pos-Div A {
	DISPLAY: block; COLOR: #0448a7; TEXT-INDENT: 5px; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
.pos-Div A:hover {
	TEXT-DECORATION: underline
}
.a-btn {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px 0px 0px -20px; TEXT-INDENT: 0px! important; LINE-HEIGHT: 20px; PADDING-TOP: 0px! important
}
.upper A {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; PADDING-BOTTOM: 0px! important; MARGIN: 0px; COLOR: #000; LINE-HEIGHT: 24px; PADDING-TOP: 0px! important; HEIGHT: 24px; TEXT-DECORATION: none
}
.green-h {
	LINE-HEIGHT: 25px
}
.shoujianren-Tab {
	MARGIN: 0px; LINE-HEIGHT: 25px
}
.rx_con {
	TEXT-ALIGN: center
}
.rx_con TABLE {
	TEXT-ALIGN: left! important
}
.rx_con IMG {
	
}
.linkimg-rx TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.linkimg-rx A {
	LINE-HEIGHT: 1.5! important; TEXT-DECORATION: none
}
.logorx {
	MARGIN: 0px auto; WIDTH: 95%; TEXT-ALIGN: center! important
}
